/* ------------------------------------------------------------------------ #FOOTER ----------------------------------------------------------------------------------------------*/

footer 
{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
}
/* ------------------------------------------------------------------------ #ACUEIL ----------------------------------------------------------------------------------------------*/
.important { 
    color: red;
}
.blocMessageAcueil, .titleDiscussion { 
    text-align: center;
}
.blocMessageAcueil { 
    margin-top: 5%;
    margin-bottom: 5%;
}
.actualityBloc { 
    margin-bottom: 5%;
}
/* ------------------------------------------------------------------------ #CONNECT ----------------------------------------------------------------------------------------------*/

.connectBloc {
    width: 20%;
    margin: auto;
    text-align: center;
}